QTabWidget::pane {
    border: 1px solid #cccccc;
    border-radius: 10px;
    background: #f7f7f7;
    margin: 0 5px 5px 5px;
}

QTabBar::tab {
    background: #e0e0e0;
    border: 1px solid #cccccc;
    border-radius: 7.5px;
    padding: 5px 20px;
    margin: 5px;
    text-align: center;
}

QTabBar::tab:hover {
    background: #d0d0d0;
    color: #000000;
}

QTabBar::tab:selected {
    background: #1a3fa5;
    color: #ffffff;
    font-weight: bold;
}

QTabBar::tab:selected:hover {
    background: #1a5daa;
    color: #ffffff;
}
