#providerDetails {
    background-color: #cbd5e0;
    border-radius: 10px;
}

#providerDetails>QLabel {
    font-weight: bold;
    font-size: 16px;
}

#parkingDetails {
    border-radius: 10px;
    background: #cbd5e0;
    margin-top: 5px;
}

#parkingDetails>QLabel {
    font-size: 14px;
    color: #333;
}

QScrollArea {
    border: none;
    border-radius: 10px;
}
