#tab2 {
    background: #333333;
    border: none;
    padding: 10px;
}

#switch_view_button {
    background-color: #FF9800;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    font-weight: bold;
}


#cctv_button {
    background-color: #333333;
    border: 2px solid #1C1C1C;
    border-radius: 7.5px;
    padding: 5px 10px;
    color: white;
}

#cctv_button[active="true"] {
    background-color: #4CAF50;
}

#cctv_button:disabled {
    background-color: #333333;
    color: #E0E0E0;
}



QLabel {
    background: #333333;
    color: #E0E0E0;

}

QScrollArea {
    background: #333333;
    border: none;
}

QGroupBox {
    background-color: #333333;
    border: none;
}
