#tab3 {
    background-color: #333333;
    border: none;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

#backgroundButton {
    background-color: #333333;
    border: 2px solid #1C1C1C;
    border-radius: 7.5px;
    padding: 5px 10px;
    color: white;
}

#backgroundButton[active="true"] {
    background-color: #4CAF50;
}

#undo_button,
#redo_button,
#remove_button,
#save_button,
#load_button,
#clear_button,
#reset_button,
#reset_view_button {
    background-color: #333333;
    border-radius: 5px;
    padding: 5px 10px;
    color: #E0E0E0;
}

#save_button, #load_button {
    background-color: #28536B;
}


#clear_button, #reset_button {
    background-color: #F44336;
    color: #1C1C1C;
}

#undo_button, #redo_button, #remove_button, #reset_view_button {
    background-color: #FF9800;
    color: #1C1C1C;
}

#undo_button:disabled,
#redo_button:disabled,
#remove_button:disabled {
    background-color: #333333;
    border: 2px solid #1C1C1C;
    color: #E0E0E0;
}

QGraphicsView {
    background-color: #333333;
    border: 2px solid #1C1C1C;
    border-radius: 10px;
}
